<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>About The Team</title>
  <link rel="stylesheet" href="../styles/about_us_style.css">

</head>
<body>
  <header>
    <h1 class="header">About Us</h1>
  </header>

  <main>
    
    <p class="description">This page contains information about the team.</p>

    <div class="teamContainer">
        <span class="memberCard">
          <div class="img-container">
            <img src="../images/anthony.jpg" alt="Anthony Celeres" />
          </div>
            <h3>Anthony Celeres</h3>
            <p class="role"><strong>Role: QA</strong></p>
            <p class="explanation">
                <strong>Anthony</strong> is responsible for ensuring the quality of the website through rigorous testing and feedback.
            </p>
        </span>
         <span class="memberCard">
          <div class="img-container">
            <img src="../images/jessie.jpg" alt="Jessie Louise Pongos" />
          </div>
          <h3>Jessie Louise Pongos</h3>
            
            <p class="role"><strong>Role: Backend</strong></p>
            <p class="explanation">
                <strong>Jessie</strong> is responsible for managing the server, database, and application logic of the website.
            </p>
        </span>

         <span class="memberCard">
          <div class="img-container">
            <img src="../images/vj.jpg" alt="VJ Mabansag" />
          </div>
            <h3>VJ Mabansag</h3>
            <p class="role"><strong>Role: Frontend</strong></p>

            <p class="explanation">
                <strong>VJ</strong> is responsible for implementing the visual elements of the website.</p>
        </span>
                 <span class="memberCard">
                  <div class="img-container">
            <img src="../images/ynigo.jpg" alt="Ynigo Ramas" />
          </div>
            <h3>Ynigo Ramas</h3>
            <p class="role"><strong>Role: Fullstack</strong></p>
            <p class="explanation">
                <strong>Ynigo</strong>
                is responsible for developing the full stack of the website, ensuring both the front-end and back-end work seamlessly together.
            </p>
        </span>

            <span class="memberCard">
              <div class="img-container">
            <img src="../images/jamirthecreator.jpg" alt="Jamir Andrade" />
          </div>
            <h3>Jamir Andrade</h3>
            <p class="role"><strong>Role: Project Manager</strong></p>
            <p class="explanation">
                <strong>Jamir</strong>
                is responsible for overseeing the project, ensuring that it stays on track and meets deadlines.
            </p>
        </span>
    </div>
  </main>
</body>
</html>