<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Card Component</title>
        <link rel="stylesheet" href="../styles/card-component.css">
    </head>
    <body>
        <div id="card-container">
            <div class="card card1">
                <div class="card-header">
                    <img src="../images/image-colton.jpg" alt="Profile Picture" class="profile-picture">

                    <div class="header-text">
                    <h2 class="name">Colton Smith</h2>
                    <p class="title">Verified Buyer</p>
                    </div>
                </div>
                <p class="card-description">This is a description of the card.</p>
            </div>

            <div class="card card2">
                <div class="card-header">
                    <img src="../images/image-irene.jpg" alt="Profile Picture" class="profile-picture">
                    <div class="header-text">
                    <h2 class="name">Irene Roberts</h2>
                    <p class="title">Verified Buyer</p>
                    </div>
                </div>

                <p class="card-description">This is a description of the card.</p>
            </div>

            <div class="card card3">
                <div class="card-header">
                    <img src="../images/image-anne.jpg" alt="Profile Picture" class="profile-picture">
                    <div class="header-text">
                    <h2 class="name">Anne Wallace</h2>
                    <p class="title">Verified Buyer</p>
                    </div>
                </div>

                <p class="card-description">This is a description of the card.</p>
            </div>
        </div>
    </body>
</html>