<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/ratings_card.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet"> 
    <title>Document</title>
  </head>
  <body>
    <div id="ratings" class="league-spartan-text">
      <div class="rating-card-1">
        <div class="stars">
          <i class="fa-solid fa-star">★</i>
          <i class="fa-solid fa-star">★</i>
          <i class="fa-solid fa-star">★</i>
          <i class="fa-solid fa-star">★</i>
          <i class="fa-solid fa-star">★</i>
        </div>
        <p>Rated 5 stars in Reviews</p>
      </div>
      <div class="rating-card-2">
        <div class="stars">
          <i class="fa-solid fa-star">★</i>
          <i class="fa-solid fa-star">★</i>
          <i class="fa-solid fa-star">★</i>
          <i class="fa-solid fa-star">★</i>
          <i class="fa-solid fa-star">★</i>
        </div>
        <p>Rated 5 stars in Report Guru</p>
      </div>
      <div class="rating-card-3">
        <div class="stars">
          <i class="fa-solid fa-star">★</i>
          <i class="fa-solid fa-star">★</i>
          <i class="fa-solid fa-star">★</i>
          <i class="fa-solid fa-star">★</i>
          <i class="fa-solid fa-star">★</i>
        </div>
        <p>Rated 5 stars in BestTech</p>
      </div>
    </div>
  </body>
</html>
