:root {
  --background-color: hsl(300, 24%, 96%);
  --text-color: hsl(300, 43%, 22%);
  --icon-color: #EB964E;
}


.league-spartan-text {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--text-color);
}

#ratings {
  width: fit-content;
}

.rating-card-1,
.rating-card-2,
.rating-card-3 {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--background-color);
  margin-top: 10px;
  width: 380px;
  border-radius: 5px;
}

.stars {
  margin-left: 20px;
  margin-right: 20px;
  color: var(--icon-color);

}

.rating-card-2 {
  margin-left: 50px;
}

.rating-card-3 {
  margin-left: 100px;
}
