:root {
  --background-color: hsl(300, 24%, 96%);
}

.rating-card-1,
.rating-card-2,
.rating-card-3 {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--background-color);
  margin: 10px;
  padding: 0 15px;
  width: 350px;
}

.stars {
  margin-right: 10px;
}
